@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    width: 100%;
    height: 100vh;
    background: url('images/bg-intro-desktop.png') hsl(0, 100%, 74%)  no-repeat center ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.elements{
    width: 100%;
    padding-left: 100px;
}

.container-one h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size:3.6rem;
    margin-bottom: 50px;
    letter-spacing:10px;
}

.container-one p{
    line-height: 30px;
    text-align: justify;
}

.some-text{
    background-color:  hsl(248, 32%, 49%);
    width:30em;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 1px hsla(248, 32%, 49%, 0.568);
    margin-bottom: 30px;
    transition: all 1s ease-in;
}

.some-text:hover{
    box-shadow: 0 8px 1px hsl(248, 32%, 49%);
    background-color:  hsla(248, 32%, 49%, 0.356);
    color: black;
    transform: rotateX(360deg);
}

.forms{
    width: 30em;
    background-color: #fff;
    padding:30px 40px;
    border-radius: 10px;
}

.forms input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    margin: 10px 0;
}

.forms input:focus{
      outline: 0;
      border-color: #777;
}

button{
    width:100%;
    padding:10px;
    text-transform:uppercase;
    background-color: hsl(154, 59%, 51%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    color:#fff;
    box-shadow: 0 8px 1px hsla(154, 59%, 51%, 0.397);
    margin-bottom: 5px;
    transition:all 1s ease-in-out;
}

button:hover{
    background-color: hsla(154, 59%, 51%, 0.507);
    box-shadow: 0 8px 1px hsl(154, 59%, 51%);
    color: black;
}

.form-controll .text_error ,.last_name_error , .email_error , .password_error{
    color:rgb(163, 44, 44);
    font-weight: bolder;
    visibility: hidden;
    
}

/* .text_error ,.last_name_error , .email_error , .password_error{
    visibility: hidden;
} */

.des{
    color:rgba(119, 119, 119, 0.712);
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.span{
    color: hsl(0, 100%, 74%);
    font-weight:bold;

}
